*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/poke-back.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

#team-box {
    width: 400px;
    margin-right: 15px;
    margin-left: 15px;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#bottom-screen {
    height: 100px;
    width: 80%;
    margin-top: 15px;
    margin-left: 40px;
    display: flex;
    gap: 30px;
}

.img-centered {
    width: 300px;
    height: 300px;
}

#inventory{
    height: 100%;
    width: 100%;
    background-color: white;
}

.team-card{
    border-radius: 33px;
    height: calc(100% / 6);
    background-color: white;
}

#big-screen {
    width: calc(100vw - 400px);
    height: 700px;
}
#main-container {
    display: flex;
    margin-top: 14px;
    margin-left: 14px;
}

#game-display {
    width: 80%;
    height: 80%;
    background-color: white;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#buttons-box {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.button {
    border: 1px black solid;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 33px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
}

#small-display {
    position: absolute;
    top: 0;
}

